*{
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f6f9;
    margin:0;
    padding:20px;
    direction:rtl;
}

.container{
    max-width:500px;
    margin:auto;
}

.header{
    background:#111827;
    color:white;
    padding:20px;
    border-radius:20px;
    text-align:center;
}

.card{
    background:white;
    padding:20px;
    margin-top:15px;
    border-radius:20px;
    box-shadow:0 5px 15px #0002;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:15px;
    background:#2563eb;
    color:white;
    font-size:17px;
}

input{
    width:100%;
    padding:14px;
    margin:8px 0;
    border-radius:12px;
    border:1px solid #ddd;
}

.price{
    color:#16a34a;
    font-size:22px;
    font-weight:bold;
}
