<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>

<meta charset="UTF-8">

<title>
دخول الإدارة
</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="container">


<div class="header">

<h2>
⚙️ دخول الأدمن
</h2>

</div>



<div class="card">


<form method="POST">


<input 
type="text"
name="username"
placeholder="اسم المستخدم"
required>



<input
type="password"
name="password"
placeholder="كلمة السر"
required>



<button>
دخول لوحة الإدارة
</button>


</form>


</div>


</div>


</body>

</html>
