<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
<meta charset="UTF-8">
<title>إيداع USDT</title>
</head>


<body>

<h2>إيداع USDT</h2>


<p>
حول USDT على شبكة BSC BEP20 إلى:
</p>


<h3>
{{ wallet }}
</h3>


<hr>


<form method="POST">


<label>
كمية USDT
</label>

<input 
type="number"
name="amount"
step="0.01"
required>


<br><br>


<label>
رقم التحويل TX Hash
</label>

<input 
type="text"
name="tx_hash"
required>


<br><br>


<button>
إرسال طلب الإيداع
</button>


</form>


</body>

</html>
